[submodule "db/test_db"]
	path = db/test_db
	url = git@github.com:datacharmer/test_db.git
[submodule "app/backend/employees-service"]
	path = app/backend/employees-service
	url = git@github.com:CharlieBrownMx/enroute-employees-service.git
[submodule "app/front/employees-front"]
	path = app/front/employees-front
	url = git@github.com:CharlieBrownMx/employees-front.git
